body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f0f4f8;

    display: flex;
    flex-direction: column;
    align-items: center; /* Centre horizontalement */
    justify-content: flex-start; /* Ajuste l'alignement vertical en haut */
    text-align: left; /* Change l'alignement du texte pour l'ensemble du contenu */
    color: #333; /* Couleur principale du texte */
    padding-top: 80px; /* Compense la hauteur du header fixé */
}

/* Header */
header {
    background: linear-gradient(90deg, #007bff, #6610f2);
    color: #ffffff;
    padding: 20px 0;
    text-align: center;
    width: 100%; /* S'assure que le header s'étend sur toute la largeur */
    margin: 0; /* Supprime les marges par défaut */
    position: fixed; /* Fixe le header en haut de la page */
    top: 0; /* Positionne le header tout en haut de la fenêtre */
    left: 0; /* Aligne à gauche */
    z-index: 1000; /* S'assure que le header est au-dessus des autres éléments */
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1); /* Ombre discrète pour l'esthétique */
}

/* Titre du header */
header h1 {
    margin: 0;
    font-size: 2.5rem;
}

/* Menu de navigation */
nav ul {
    list-style: none;
    padding: 
